#course-title{

  margin-top:0.5rem;
}

#modules-list {
  height:100vh;
  top: 10px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: auto;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.nav-pills li {
    margin-left: 10px;
    margin-bottom : 10px;
}

#nav-pills-link{

color : white;
margin-right: 15px
}
.fa-trash{
  cursor: pointer;
}

#course-editor{

    margin-top: 20px;

}

#module-editor{

    margin-top: 50px;

}
#course-editor-body{

    background-color: grey;
}
#module-list-header{
  border-radius: 25px;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding: 20px;

}


#lesson-editor{

    margin-top: 20px;
    border-radius: 25px;
      border: 1px solid grey;
        padding: 20px;

}
#save-btn{
margin-right:10px;

}

.button-space{
margin-right:10px;

}

#preview-btn{


}

#lesson-link{

  color: white;
}

#save-preview{
    margin-bottom: 20px;

}

#list-of-lessons {

  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;

  overflow-x: auto;

}
.widget-elements{

margin-top: 10px;
margin-bottom:10px;

}

.input-children * {

  width:100%;
}
.widget-list-item{
  margin: 15px;

    border: 1px solid grey;
      padding: 10px;

}
.list-group{


  padding: 20px;
}
#widget-list {
  list-style-type: none;
  padding:0;
}
#module-list-searchbar{

  margin-top: 20px;

}

.image-preview{

  height: 300px;
  width:300px;
}
