#course-title{

  margin-top:0.5rem;
}

#modules-list {
  height:100vh;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: auto;
  margin: 0;
  padding: 0;


  // Again, this is where the magic happens
  -webkit-overflow-scrolling: touch;
}

#list-of-lessons {

  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  white-space: nowrap;



}
